body {
    height: 100vh;
    background-image: url(../images/1920x1280_px_food_Fries_Tomatoes-840079.jpg);
}
h1 {
    color: white;
}
p{
    color: white;
}
h4 {
    color: white;
}

.container {
    margin: 0;
    text-align: center;
